<a href="https://colab.research.google.com/github/zoefleischer/data-prework/blob/master/week2_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2 Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

In [ ]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
  TAG_RE = re.compile(r'<[^>]+>')
  # defines url to make api call to data -> dynamic with school if you want to scrape competition
  url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
  #makes get request and converts answer to json
  data = requests.get(url).json()
  #converts json to dataframe
  reviews =  pd.DataFrame(data['content']['reviews'])
  
  #aux function to apply regex and remove tags
  def remove_tags(x):
    return TAG_RE.sub('',x)
  reviews['review_body'] = reviews['body'].apply(remove_tags)
  reviews['school'] = school
  return reviews

In [ ]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard

In [ ]:
comments

         id  ...       school
0    266037  ...     ironhack
1    266009  ...     ironhack
2    265960  ...     ironhack
3    265948  ...     ironhack
4    265947  ...     ironhack
..      ...  ...          ...
591  234894  ...  springboard
592  234877  ...  springboard
593  234838  ...  springboard
594  242681  ...  springboard
595  234178  ...  springboard

[2435 rows x 20 columns]

In [ ]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    
    # how could you write a similar block of code to the above in order to record the school ID?

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

app-academy
springboard

In [ ]:
locations = pd.concat(locations_list)
locations.head()

      id             description  ...  state.keyword    school
0  15901         Berlin, Germany  ...            NaN  ironhack
1  16022     Mexico City, Mexico  ...            NaN  ironhack
2  16086  Amsterdam, Netherlands  ...            NaN  ironhack
3  16088       Sao Paulo, Brazil  ...            NaN  ironhack
4  16109           Paris, France  ...            NaN  ironhack

[5 rows x 13 columns]

In [ ]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school
0             Data Analytics Bootcamp     ironhack
1            Data Analytics Part-Time     ironhack
2               UX/UI Design Bootcamp     ironhack
3              UX/UI Design Part-Time     ironhack
4            Web Development Bootcamp     ironhack
5           Web Development Part-Time     ironhack
0                       Bootcamp Prep  app-academy
1  Software Engineer Track: In-Person  app-academy
2     Software Engineer Track: Online  app-academy
0         Data Analytics Career Track  springboard

In [ ]:
badges = pd.concat(badges_list)
badges.head()

                name  ...       school
0   Available Online  ...     ironhack
1  Verified Outcomes  ...     ironhack
2   Flexible Classes  ...     ironhack
0   Available Online  ...  app-academy
1      Job Guarantee  ...  app-academy

[5 rows x 4 columns]

In [ ]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

                                             website  ...       school
0                                www.ironhack.com/en  ...     ironhack
0                                      appacademy.io  ...  app-academy
0  www.springboard.com/?utm_source=switchup&utm_m...  ...  springboard

[3 rows x 4 columns]